.Main h1 {
    margin-left: 2vw;
    margin-top: 2vh;
    font-family: SF_IceLemon;
    font-size: 2vw;
}

.notice_header {
    margin-left: 2vw;
    margin-right: 2vw;
    overflow: auto;
}

.noticeUI {
    border-bottom: 1px solid black;
}

.notice_update {
    font-size: smaller;
    background-color: transparent;
    border: 0px;
    padding: 0;
    cursor: pointer;
}

.notice_delete {
    font-size: smaller;
    background-color: transparent;
    border: 0px;
    padding: 0;
    cursor: pointer;
}

.noticeSideBanner {
    width: 20%;
    height: 30vh;
    float: right;
    overflow: hidden;
    display: inline-block;
    background-color: blue;
}

.commentCreate {
    margin-left: 2vw;
}

.commentCreate div {
    margin-bottom: 1%;
}

.commentCreate button {
    width: 10%;
    height: 10.8vh;
    margin: 0;
    padding: 0;
}

.comment_content {
    resize: none;
    width: 80%;
    height: 10vh;
    float: left;
}

.comment_delete_button {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    cursor: pointer;
}

.recommend_box {
    border: 1px solid black;
    width: 20vw;
    height: auto;
    margin: 0 auto 2vh;
    overflow: hidden;
}

.recommend {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.hate {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.recommend_box span {
    padding-right: 3%;
}

.recommend_box button {
    background-color: white;
    border-radius: 50%;
}

.recommend_box button:active {
    background-color: powderblue;
}